.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: inline-block;
}

.preview-page-container {
  width: 100%;
  padding-top: 50px;
}

.preview-page-center-wrapper {
  width: 738px;
  margin: 0 auto;
}

.profile-pic {
  width: 200px;
  margin: 0 auto;
}

.profile-name {
  margin: 0 auto;
  text-align: center;
}

.profile-intro {
  margin: 0 auto;
  text-align: center;
}
