.left {
    float: left;
}

.right {
    float: right;
}
.block{
    display: inline-block;
    
}


.top-menu-container {
    width: 100%;
    padding-top: 50px;
}

.preview-page-container {
    width: 100%;
    padding-top: 50px;
}

.preview-page-center-wrapper {
    width: 738px;
    margin: 0 auto;
    padding: 50px 25px 50px 25px;

    background-color: red;
}


.profile-pic {
    margin-right: 10px;
    background-color: yellow;
    width: 200px;
}


.preview-content{
    background-color: white;
    width: 500px;
}